streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain_huggingface
langchain_chroma
langchain-groq

python-dotenv
ipykernel

pypdf
pymupdf
bs4
arxiv
wikipedia

chromadb
faiss-cpu
sentence_transformers
huggingface_hub

duckdb
pandas

openai

mysql-connector-python
SQLAlchemy

validators==0.28.1
duckduckgo_search==5.3.1b1

youtube_transcript_api
unstructured
pytube

numexpr
